.submit{
    background: #eee;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 5px 0 5px 0;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 0.2s;
}
.submit:hover{
    background: #ccc;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0 8px 0 8px;
    margin: 7px 2px 7px 2px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: bold; 
}