ul.qtd li{
    display:inline;
    float: left;
    margin: 5px;
}
.setquantidade{
    padding: 0 5px;
    background-color: #007bff;
    border: 2px solid #007bff;
    color: white;
    border-radius: 20%;
    transition-duration: 0.2s;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.setquantidade:hover{
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
}
.trash{
    width: 40px !important;
}
.selecionado{
    border: 0 !important;
    font-weight: bold !important;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 5px #333;
}