a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
h1{
    font-family: 'Nunito', sans-serif;
}
.editar{
    
}
.p_form{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 0;
}
.custom_h2{
    padding: 0 5px 0 5px;
    font-family: 'Josefin Slab', sans-serif;
}
.input_form{
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Arvo', serif;
}
.tableList th{
    padding: 5px 0 5px 0;
    font-family: 'nunito', sans-serif;
    width: 150px;
    text-transform: uppercase;
    background: #eee;
}
.tableList td{
    font-family: 'Nunito', sans-serif;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    font-size:20px;
    color: #333;
}
.editar{
    font-size:19px;
    background-color: white;
    border: 1px solid #007bff;
    border-radius:5px;
    padding: 1px 6px 1px 6px;
    font-weight: bold;
    transition-duration: 0.2s;
    color: #007bff;
}
.editar:hover{
    background-color: #007bff;
    color: white;
}
.tableList,td, th{
    border-collapse: collapse;
    border: 1px solid gray;
}
.tableList tr:nth-child(even) {
    background: #eee
}

/*CSS APENAS DO SLIDER*/

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 60px;
    height: 26px;
    background-color: #dddddd;
    border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}
.switch--shadow + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: all 0.2s;
}
.switch--shadow + label:after {
    width: 24px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}
.switch--shadow:checked + label:before {
    background-color: #8ce196;
}
.switch--shadow:checked + label:after {
    transform: translateX(34px);
}

/*FIM CSS APENAS DO SLIDER*/