
/* 
    Created on : 17/03/2021, 16:50:07
    Author     : Bruno
*/
.pQuadro{
    font-family: 'Nunito', sans-serif;
    width: 200px;
    font-size: 22px;
}
.col-md-5{
    border: 2px solid #007bff;
    padding: 5px;
    margin-right: 2rem;
}
.produto{
    width: 80%;
    border: 1px solid #007bff;
    border-radius: 2px;
}

#comentario {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

#btnComent{
    width: 100%;
}
#btnAddCarrinho{
    width: 100%;
}
#nomeProduto{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
#nomeExtenso{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    height: 90px;
    border: 1px solid #007bff;
    border-radius: 2px;
    min-height: 120px;
}

#inputCEP{
    width: 90px;
}