<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Filtragem</filter-name>
        <filter-class>Utils.Filtragem</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtragem</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>GetProdutos</servlet-name>
        <servlet-class>Servlet.GetProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostProdutos</servlet-name>
        <servlet-class>Servlet.PostProdutos</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>GetProduto</servlet-name>
        <servlet-class>Servlet.GetProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>Servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduto</servlet-name>
        <servlet-class>Servlet.DeleteProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>Servlet.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoSelecionado</servlet-name>
        <servlet-class>Servlet.ProdutoSelecionado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImagens</servlet-name>
        <servlet-class>Servlet.UploadImagens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleProduto</servlet-name>
        <servlet-class>Servlet.ToggleProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>Servlet.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Servlet.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsuarios</servlet-name>
        <servlet-class>Servlet.GetUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>Servlet.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleUsuario</servlet-name>
        <servlet-class>Servlet.ToggleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastro</servlet-name>
        <servlet-class>Servlet.Cadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarDados</servlet-name>
        <servlet-class>Servlet.AlterarDados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEndereco</servlet-name>
        <servlet-class>Servlet.AlterarEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarImagens</servlet-name>
        <servlet-class>Servlet.GerenciarImagens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCapa</servlet-name>
        <servlet-class>Servlet.AlterarCapa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrinho</servlet-name>
        <servlet-class>Servlet.Carrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownQuantidadeProduto</servlet-name>
        <servlet-class>Servlet.DownQuantidadeProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpQuantidadeProduto</servlet-name>
        <servlet-class>Servlet.UpQuantidadeProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCarrinho</servlet-name>
        <servlet-class>Servlet.DeleteFromCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutCompra</servlet-name>
        <servlet-class>Servlet.CheckoutCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraRealizada</servlet-name>
        <servlet-class>Servlet.CompraRealizada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinhasCompras</servlet-name>
        <servlet-class>Servlet.MinhasCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalhesVenda</servlet-name>
        <servlet-class>Servlet.DetalhesVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPedidos</servlet-name>
        <servlet-class>Servlet.ListarPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProximaEtapa</servlet-name>
        <servlet-class>Servlet.ProximaEtapa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarCompra</servlet-name>
        <servlet-class>Servlet.ConfirmarCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProdutos</servlet-name>
        <url-pattern>/GetProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostProdutos</servlet-name>
        <url-pattern>/PostProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduto</servlet-name>
        <url-pattern>/GetProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduto</servlet-name>
        <url-pattern>/DeleteProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoSelecionado</servlet-name>
        <url-pattern>/ProdutoSelecionado</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UploadImagens</servlet-name>
        <url-pattern>/UploadImagens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleProduto</servlet-name>
        <url-pattern>/ToggleProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsuarios</servlet-name>
        <url-pattern>/GetUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/AlterarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleUsuario</servlet-name>
        <url-pattern>/ToggleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastro</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarDados</servlet-name>
        <url-pattern>/AlterarDados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEndereco</servlet-name>
        <url-pattern>/AlterarEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarImagens</servlet-name>
        <url-pattern>/GerenciarImagens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCapa</servlet-name>
        <url-pattern>/AlterarCapa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrinho</servlet-name>
        <url-pattern>/Carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownQuantidadeProduto</servlet-name>
        <url-pattern>/DownQuantidadeProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpQuantidadeProduto</servlet-name>
        <url-pattern>/UpQuantidadeProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCarrinho</servlet-name>
        <url-pattern>/DeleteFromCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutCompra</servlet-name>
        <url-pattern>/CheckoutCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraRealizada</servlet-name>
        <url-pattern>/CompraRealizada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinhasCompras</servlet-name>
        <url-pattern>/MinhasCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalhesVenda</servlet-name>
        <url-pattern>/DetalhesVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPedidos</servlet-name>
        <url-pattern>/ListarPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProximaEtapa</servlet-name>
        <url-pattern>/ProximaEtapa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarCompra</servlet-name>
        <url-pattern>/ConfirmarCompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
